body {
    background: rgb(10, 151, 217);

    }
p{
    color: rgb(16, 3, 94);
    font-family: cursive;
}


.fig1 {
    text-align: center;
    background-color:rgb(10, 151, 217);
    
}
.container{
    padding: 3%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav #titulo{
    color:rgb(9, 3, 124);
    font-family: Impact, fantasy;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    

    font-size:200%;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: aqua;
}
.fig2 {
    text-align: center;
    background-color:rgb(0, 158, 217);

    
}

h2 {
    color:rgb(102, 0, 255);
    font-family: Gill Sans, sans-serif; 
    text-decoration: underline;

}

figcaption {
    font-family: Blippo, fantasy; 
 
}



section ul li a {
    color:rgb(0, 255, 102);
    text-decoration: none;
}

section ul li a:hover {
    color:yellow;
}

p3 {
    font-style: italic;
}


footer {
    text-align: center;

}


